@tailwind base;
@tailwind components;
@tailwind utilities;

address {
  font-style: normal;
}

.text-stroke {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: blueviolet;
  -webkit-text-stroke-width: 2px;
}

.animate-ok {
  animation: animate_ok 2s ease 0s infinite forwards;
}

@keyframes animate_ok {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(.5)
  }
  100% {
    transform: scale(1)
  }
}

.animate-star {
  animation: star 3s ease-in-out 0s infinite alternate-reverse;
}

@keyframes star {
  0% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(0px);
    transform: scale(.3);
  }
  100% {
    transform: translateX(20px);
    transform: scale(1);
  }
}
.animate-star-left {
  animation: star_left 3s ease-in-out 2s infinite alternate-reverse;
}

@keyframes star_left {
  0% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(0px);
    transform: scale(.5);
  }
  100% {
    transform: translateX(-20px);
    transform: scale(1);
  }
}


